body{
	background-color: #222222;
}
#wrapper {
	width: 100%;
	height: 100%;
/*	background-color: green;*/
	background-image: url("../b.jpg");
	background-repeat: no-repeat;
	background-size: cover;	
	margin-left: 0px;
}
#container {
	width: 1300px;
	height: 470px;
	margin: 0 auto;
	margin-top: -100px;
	
}
#container2 {
	width: 1300px;
	height: 510px;
	margin: 0 auto;
	background-image: url("../bg.fw.png");
	
}

#content_half1 {
	width: 650px;
	height: 100%;
	float: left;
}
#content_half2 {
	width: 600px;
	height: 100%;
	float: right;
}
#nav {
	width: 100%;
	height: 50px;
	background-color: #FF5E0D;
	margin-top:-20px;
}
#footer {
	width: 100%;
	height: 50px;
	background-color: #3366CC;
}
#footer2 {
	width: 100%;
	height: 50px;
	background-color: #222222;
	margin-top: 5px;
}
#title {
	font-size: 20px;
	font-family: myfont2;
	color: #fff;
	margin-top: 20px;
	padding: 8px;
	margin-left: 15px;
}
#email {
	margin: 0 auto;
	color: #222222;
	margin-top: 165px;
	margin-left: 195px;
	font-size: 40px;
	font-family: Century Gothic;
}
.text {
	width: 320px;
	height: 30px;
	padding: 5px;
	font-family: myfont;
	font-size: 18px;
	text-align: center;
}
#emailText {
	margin-top: -40px;
	margin-left: 210px;
}
#submits {
	margin-top: 10px;
	margin-left: -25px;
}
.submitbutton {
	width: 100px;
	height: 50px;
	color: #fff;
	border-style: none;
	background-color: #FF5E0D;
}
#qoutes {
	margin-left: 590px;
	margin-top: 30px;
	font-family: myfont;
	font-size: 15px;
}

.qoute {
	text-align: left;
	color: #222222;
}
@font-face {
	font-family:myfont;
	src:url(../font/pier-regular.otf);	
}
@font-face {
	font-family:myfont1;
	src:url(../font/font1.otf);	
}
@font-face {
	font-family:myfont2;
	src:url(../font/font2.otf);	
}
table {
	margin-left:10px;
	margin-top:5px;
	padding:5px;
	border:1px solid gray;
}
td {
	font-family: myfont;
	color:#222222;
	font-size: 15px;;
	width: 150px;
	border-bottom:1px solid black;
}
tr {
	border:1px solid gray;

}
#tableNav {
	width: 640px;
	height: 50px;
	background-color: gray;
	float: top;
	position: absolute;
}
img {
	width: 150px;
	height: 150px;
}
#tbl {
	height: 50px;
	width: 600px;;
	background-color: gray;
	margin-top: 10px;

}
#tbl2 {
	height: 100%;
	width: 100%;
}
#price1 {
	margin-top: 10px;
}
#emailmoved {
	color:#222222;
	font-family:myfont1;
	margin-left:600px;
	margin-top:-450px;
	font-size:25px;
}
#purchase {
	font-size:12px;
	width: 400px;
}
.button {
	border-radius: 7px;
	width:100px;
	height:40px;
	border-style:none;
	background-color:#FF5E0D;
	color:#fff;
}